/*
*
* {{ properCase componentName }}
*
*/
import React from 'react';

interface Props {}

export default function {{ properCase componentName }}(props: Props) {
  return ( <h1>Hi {{componentName}} </h1>)
}
